<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="djangoTest" path="*" verb="*" modules="FastCgiModule" scriptProcessor="E:\Workspace\Python\DjangoTest\venv_test\Scripts\python.exe|E:\Workspace\Python\DjangoTest\venv_test\Scripts\E:\Workspace\Python\DjangoTest\venv_test\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>
