<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="django" path="*" verb="*" modules="FastCgiModule" scriptProcessor="E:\Workspace\Python\DjangoTest\venv_test\Scripts\python.exe|E:\Workspace\Python\DjangoTest\venv_test\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
            <add name="djangoTest" path="*" verb="*" modules="FastCgiModule" scriptProcessor="E:\Workspace\Python\django\venv_test\Scripts\python.exe|E:\Workspace\Python\django\venv_test\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
            <add name="Python FastCGI" path="*.py" verb="*" modules="FastCgiModule" scriptProcessor="E:\Workspace\Python\django\venv_test\Scripts\python.exe" resourceType="File" />
        </handlers>
        <directoryBrowse enabled="false" showFlags="Date, Time, Size, Extension, LongDate" />
    </system.webServer>
</configuration>
